* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0px 24px;
}

a:visited {
    color: blue;
}

a:active {
    color: blueviolet;
}

label, input[type="radio"]{
    cursor: pointer;
}

form {
    margin: 0px;
}

input:not([type="radio"]):not([type="checkbox"]){
    height: 30px;
}

button {
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

button:disabled, button[disabled] {
    cursor: not-allowed;
    text-decoration: line-through;
}

button.success {
    color: white;
    background-color: green;
    border-color: darkgreen;
}

button.warning {
    color: white;
    background-color: orange;
    border-color: darkorange;
}

button.danger {
    color: white;
    background-color: red;
    border-color: darkred;
}

.inputRow {
    display:block; 
    width: 100%;
    margin-bottom: 10px;
}

.no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;            
}

.hover:hover {
    background-color: lightgray;
}

@media screen and (max-width: 479px) {

    #dashboardAppsGrid .appCard {
        border-bottom: 1px solid lightgray;
    }

    #dashboardAppsGrid .appCard .name {
        float: left;
        max-width: calc(100% - 81px);
    }

    #dashboardAppsGrid .appCard form button {
        float: right;
    }
}